
$yellow: rgba(255, 195, 0, 1);
$orange: rgba(230, 126, 34,1.0);
$red: rgba(231, 76, 60,1.0);
$blue: rgba(52, 152, 219,1.0);
$purple: rgba(155, 89, 182,1.0);
$turquoise: rgba(26, 188, 156,1.0);
$dgrey: rgba(52, 73, 94,1.0);
$grey: rgba(189, 195, 199, 1);

.page {
	padding-top: 19px;
	box-sizing: border-box;
}

.navbar {
	margin-bottom: 0;
	background-color: black;
}

.navbar-default .navbar-nav>li>a {
	font-size: 1.5em;
		color: white;
}


body { 
	font-size: 100%; }

h1, h2, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;	
	font-weight: 700;
	margin: 0;
}


h1 {
	font-size: 6.189em;
	text-transform: uppercase;
		}
	
h2  {
	font-size: 2.126em;
	line-height: 1.223;

		    }

/*			
h1, h2 {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
			 }
			 */
			 
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.682em; 
	line-height: 1.5em;
		margin: 0;
		}
		    
h4 {
	font-size: 1.2em;
	line-height: 1.86;
		}
		
h3,h4 {      
	font-weight: 300;
	text-transform: uppercase;
		}
		
h5 {
	font-size: .8125em;
	line-height: 1.125;
		}

p {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
.aspect {
	overflow: auto;
	padding: 3%;
}

.subject {
	padding: 2%;
	box-sizing: border-box;
}
	.subject-title {
	width: 50%;
	float: left;
	height: 100%;
}

.subject-main {
	width: 50%;
	float: right;
}

.right {
	text-align: right;
}


#headings {
	display: inline-block;
	width: 50%;
	float: left;
}		

#paragraph {
	display: inline-block;
	width: 45%;
	height: 50vh;
	float: right;
	overflow: scroll;
}

.colors {
	clear: both;
}

.swatch {
	float: left;
	display: inline-block;
	margin: 15px;
	height: 100px;
	width: 100px;
}

.backgroundPic {
	background-attachment: fixed;
}

.colored {
	color: black;
}

#gallery {
	width: 100%;
	padding: 0;
	white-space: nowrap;
	.col-md-3 {
		padding: 0;
	}
	.col-xs-3 {
		padding: 0;
	}
	img {
		max-width: 100%; 
		height: auto;
	}
}



#bio {
	background-color: $dgrey;
    height: 50vh;
}
#skills {
    padding-top: 70px;
    height: 80vh;
    color: white;
	background-size: cover;
	background-image: url(../img/night.jpg);
    vertical-align: middle;
    
    h1 {
    text-align: center;
    line-height: 300px;
    }
}
#web {
	background-color: #d3d3d3;
    height: 50vh;
}
#graphic {
    height: 80vh;
		background-image: url(../img/car.jpg);
h1 {
    color: white;
    }
}

#other {
	background-color: $red;
}
#contact {
	background-color: $dgrey;
	color: $grey;
}


.row {
	margin: 0;
}


#yellow {
	background-color: #ededed;
}

#orange {
	background-color: #dedede;
}

#red {
	background-color: #d3d3d3;
}

#blue {
	background-color: $blue;
}

#purple {
	background-color: #d3d3d3;
}

#turquoise {
	background-color: $turquoise;
}

#dgrey {
	background-color: $dgrey;
}

#grey {
	background-color: $grey;
}